.app-header {
    border-bottom: 1px ;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(252, 183, 43);
    text-decoration-color: black;
    font-family: sans-serif;
}
.app-header-logo {
  font-size:70px;
  margin-left: 20px; 
  color: aliceblue;
}
.app-header h1 {
 font-size: xx-large ;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 margin-left: 10px;
 color: aliceblue;
 
}