.cooking-item img {
    width: 300px;
    height: 400px;

}
.cooking-item h1 {
    font-size: xx-large ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}